.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto separará la imagen y el texto */
  min-height: 30vh;
  padding: 4rem 0;
}

.profile-image {
  width: 400px; 
  height: 500px;
  background: url("../assets/juan.jpg") no-repeat center center;
  background-size: cover; /* Va a cubrir el div con la imagen*/
  margin-left: 10rem;
}


/* CSS */
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: right;
  margin-right: 10rem;
}

.main__description {
  font-size: 4rem; 
  opacity: 1;
  color:gray;
  white-space:normal;
}

