body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.container {
  padding: 4rem 20px;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.section {
  padding: 20px 0;
}

.animated-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.animated-banner h2 {
  margin: 0;
  padding: 20px;
  font-size: 4em;
  color: #fff;
}

.animated-banner div {
  clear: both;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background-color: #444;
  animation: spin 10s linear infinite;
}

/*Estilos foto perfil */

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.profile-section.active {
  opacity: 1;
  transform: translateX(0);
}

.profile-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-info,
.profile-image {
  opacity: 1;
}

.profile-section {
  text-align: center;
  padding: 4rem 0;
}

#profileImage {
  width: 200px;
  height: 200px;
  background: url("pablo.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 2rem;
}

/*Estilos cards */

.card {
  background: #fff;
  padding: 20px;
  text-align: center;
}

#content-cards {
  padding: 4rem 0;
  background: #000000;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
}

.card-content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card-content p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

/*Estilos barra carga */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  text-align: center;
}

.loading-bar {
  width: 60%;
  height: 20px;
  background-color: #000000;
  margin: 0 0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.loading-fill {
  width: 0;
  height: 100%;
  background-color: #a5a8ac;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: width 0.5s ease-out;
}

.loading-percentage {
  margin-top: 10px;
  font-size: 20px;
  color: grey;
}

/*Estilos footer */
.footer {
  border: 1px solid var(--grey); /* Ajusta el color según tu paleta */
  backdrop-filter: blur(10px);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  background-color: #e61d1de6; /* Color de fondo con opacidad */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  width: 100%;
  max-width: calc(100vw - 80px);
  height: 100%;
  min-height: 60px;
  max-height: 80px;
  margin: 0 20px;
  padding: 10px 0 10px 30px;
  transition: max-height .3s cubic-bezier(0.42, 0, 0.61, 1);
  position: fixed;
  bottom: 50px;
  overflow: hidden;
}

/* Estilos para el botón "Contact Me" */
.footer_button {
  margin-left: auto; /* Alinea el botón a la derecha */
  padding: 10px 20px;
  border: 2px solid #fff; /* Borde blanco */
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.footer_button:hover {
  background-color: #fff; /* Fondo blanco en hover */
  color: #000; /* Texto negro en hover */
}


.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #e04747;
  /* Cambio de color al pasar el raton */
}

.scroll-container-outer {
  overflow: hidden; /* Oculta todo lo que se desborde del contenedor */
  width: 100%; /* O el ancho que desees */
  height: 100%; /* O la altura que desees */
}

.scroll-container-inner {
  height: 100%;
  overflow-y: scroll; /* Permite desplazamiento vertical */
    margin-right: -17px; /* Oculta la barra de desplazamiento */
    padding-right: 17px; /* Espacio para la barra de desplazamiento */
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}